.ftr-container {
    position: relative;
    background-color: #272727;
    height: 100px;
    text-align: center;
    border-top: 1px solid grey;
}

.ftr-container p {
    position: relative;
    z-index: 1;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.ftr-divider {
    padding-top: 20px;
}


.social-container {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%; 
    width: 400px;
    right: 0;
    top: 0;
    z-index: 2;
}

.social-icon {
    height: 32px;
    width: 32px;
    transition: transform 0.4s;
}

.social-icon:hover {
   transform: scale(1.05);

}