.navbar-container {
	position: fixed;
	z-index: 5;
	background-color: #272727;
	width: 100%;
	box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.15);
}


.navbar-inner {
	margin: auto;
	background-color: #272727;
	height: 100%;
	width: 90%;
}

.navbar-buttons {
	margin: 0 19% 0 0;
	padding-top: 27px;
	float: right;
}

.navbar-buttons a {
	font-family: Roboto;
	color: white;
	text-decoration: none;
}

.navbar-buttons > li::after {
	position: absolute;
	content: "";
	height: 2px;
	width: 0%;
	left: -10px;
	bottom: -10px;
	background-color: #0077E9;
	transition: 0.3s;
}

.navbar-buttons > li:hover::after {
	width: calc(100% + 20px);
}

.navbar-buttons > li {
	position: relative;
	display: inline-block;
	list-style-type: none;
	margin-left: 60px;
}


.page-logo{
	padding: 10px 0 10px 0;
	display: inline-block;
	margin: 0;
}


.login-section {
	padding-top: 17px;
	float: right;
}

.login-section > button {
	margin-left: 5px;
	padding: 10px 25px 10px 25px;
	background-color: #0247FE;
	color: white;
	border: 1px solid blue;
	border-radius: 5px;
	font-family: Roboto;
	font-weight: 500;
	font-size: 13px;
	transition: background-color, transform 0.2s;
}

.login-section > button:hover {
	cursor: pointer;
	background-color: #272727;
	border: 1px solid white;
	color: white;
	transform: scale(1.1);
}

.login-section > button:nth-child(odd) {
	padding: 10px 25px 10px 25px;
	color: white;
	background-color: #272727;
	border: 1px solid white;
	border-radius: 5px;
}


.login-section > button:nth-child(odd):hover {
	padding: 10px 25px 10px 25px;
	color: white;
	background-color: #0247FE;
	border-radius: 5px;
}


/* Search Bar section */

.search-container {
	display: flex;
	position: absolute;
	top: 105px;
	left: 50px;
	align-items: center;
	transition: left 0.7s;
}


#search-bar {
	margin: 0;
	height: 25px;
	width: 140px;
	padding: 0px 15px 0 36px;
	border: 2px solid #4169E1;
	background-color: #272727;
	color: white;
	border-radius: 20px 20px 20px 20px;
	outline: none !important;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	transition: width 0.7s;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#search-bar:focus {
	width: 200px;
}

#search-icon {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 10px;
}

